* {
    -fx-col-0: rgb(50, 40, 23);
    -fx-col-1: rgb(10, 30, 15);
    -fx-col-2: rgb(50, 80, 40);
}

.root {
    -fx-background-color: #adaaaa;
    -fx-border-color: -fx-col-0;
    -fx-prompt-text-fill: #666666;
}

.title {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-fill: #131313;
}
.plane-0 {
    -fx-border-width: 2px;
}

.tags {
    -fx-border-color: -fx-col-1 transparent -fx-col-1 transparent;
}

.tag {
    -fx-background-radius: 20;
    -fx-text-alignment: CENTER;
}

.description {
    -fx-border-color: -fx-col-0 transparent -fx-col-0 transparent;
}

.submit {
    -fx-text-fill: white;
    -fx-background-color: -fx-col-1;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, -fx-col-2, 5.5, 0.7, 0, 0);
}

.submit:hover {
    -fx-effect: dropshadow(three-pass-box, white, 5.5, 0.7, 0, 0);
}

.add-subtask-label {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-col-0;
    -fx-font-size: 12px;
    -fx-font-style: italic;
}

.subtask-pane {
    -fx-background-color: transparent;
    -fx-pref-width: 600;
    -fx-pref-height: 400;

    -fx-border-color: -fx-col-0 transparent transparent transparent;
}

.text-0 {
    -fx-prompt-text-fill: #666666;
    -fx-text-fill: -fx-col-2;
    -fx-font-size: 24px;
}

.text-1 {
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.line-0 {
    -fx-stroke: -fx-col-1;
}