.text-0 {
    -fx-border-color: transparent transparent -fx-col-1 transparent;
    -fx-border-insets: 10px;
    -fx-alignment: CENTER;
}

.card-list-separator *.line {
    -fx-border-color: -fx-col-0;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.list-name-field {
    -fx-background-color: transparent;
}

.lists-grid-root > .viewport {
    -fx-background-color: transparent;
}

.lists-grid-root {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.card-container-root > .viewport {
    -fx-background-color: transparent;
}

.card-container-root {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.text-3 {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-font-size: 22px;

    -fx-background-color: transparent;
}

.card-root {
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}