.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.input {
    -fx-background-color: white;
    -fx-border-color: -fx-col-2;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}