.edit:hover {
    -fx-effect: dropshadow(three-pass-box, -fx-col-2, 5.5, 0.7, 0, 0);
}

.delete:hover {
    -fx-effect: dropshadow(three-pass-box, -fx-col-2, 5.5, 0.7, 0, 0);
}

.card-root {
    -fx-border-color: #e125e1;
}

.card-title {
    -fx-background-color: transparent;
}

