* {
    -fx-col-0: rgb(255, 0, 181);
    -fx-col-1: rgb(5, 0, 255);
    -fx-col-2: rgb(0, 255, 255);
}

.anchor-plane {
    -fx-background-image: url('../../../../../assets/bg_0.png');
    -fx-background-color: black;
}
.title {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
}
.plane-0 {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 2px;
}

.tags {
    -fx-border-color: -fx-col-1 transparent -fx-col-1 transparent;
}

.tag {
    -fx-background-radius: 20;
    -fx-background-color: rgb(200, 200, 200);
    -fx-text-alignment: CENTER;
}

.description {
    -fx-border-color: -fx-col-0 transparent -fx-col-0 transparent;
}

.submit {
    -fx-text-fill: white;
    -fx-background-color: -fx-col-1;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, -fx-col-2, 5.5, 0.7, 0, 0);
}
.add-subtask-label {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-col-0;
    -fx-font-size: 12px;
    -fx-font-style: italic;
}

.subtask-pane {
    -fx-background-color: transparent;
    -fx-pref-width: 600;
    -fx-pref-height: 400;

    -fx-border-color: -fx-col-0 transparent transparent transparent;
}

.text-0 {
    -fx-text-fill: -fx-col-2;
    -fx-font-size: 24px;
}

.text-1 {
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.line-0 {
    -fx-stroke: -fx-col-1;
}